.active {
  background-color: #007bb6;
}
.mat-nav-list{
  background-color: #512DA8;
  color: white;
}
#right{
  margin-left: 50%;
}
#right1{
  margin-left: 1%;
}
#right2{
  margin-left: 1%;
}
a{
  margin-top: 20px;
}

