<mat-toolbar>
  <span>User Registration Form</span>
</mat-toolbar>

<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="addUserGroup">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" placeholder="Username">
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Password">
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>School</mat-label>
        <mat-select formControlName="school">
          <mat-option *ngFor="let school of schools" [value]="school">{{school.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="authority">
          <mat-option *ngFor="let authority of authorities" [value]="authority">{{authority.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course">
          <mat-option *ngFor="let course of courses" [value]="course">{{course.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addUser()">Register</button>
        <button (click)="goBack()" color="warn" mat-raised-button>BACK</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

