<div class="fa-2x">
  <h1>Study Management Application</h1>
  <h3>Everything you need to manage your studies.</h3>
</div>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<div fxFlex="40">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>User list</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/screenCapture-user-2020-12-01-13_38_07.png" alt="screenCapture-user">
    <mat-card-content>
      <p>As shown on the picture on top. Here can be found the list of all available users, their school and the courses they are registered to.</p>
    </mat-card-content>
  </mat-card>
  <!--<div>
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>-->
</div>

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>School List</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='/assets/images/screenCapture-school-2020-12-01-13_35_20.png' alt="screenCapture-school">
      <mat-card-content>
        <p>As shown on the picture on top. Here can be found the list of all available schools,the city where it's located and the contact.</p>
      </mat-card-content>
    </mat-card>
    <!--<div>
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>-->
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Course List</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='/assets/images/screenCapture-course-2020-12-01-13_36_05.png' alt="screenCapture-course">
      <mat-card-content>
        <p>As shown on the picture on top. Here can be found the list of all available courses, and the courses duration.</p>
      </mat-card-content>
    </mat-card>
    <!--<div>
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>-->
  </div>

</div>

<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Login</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='/assets/images/screenCapture-login-2020-12-01-14_49_34.png' alt="screenCapture-login">
      <mat-card-content>
        <p>Very easy to login. Just put the right credentials "username and password" and you are ready to go.</p>
      </mat-card-content>
    </mat-card>
    <!--<div>
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>-->
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Contact Us</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='/assets/images/screenCapture-contact-2020-12-01-13_36_55.png' alt="screenCapture-contact">
      <mat-card-content>
        <p>Your opinion matters the most. The feedback form is there to make easier for you guys to share your opinions with us, and helps us improve the product quality to your requested standard.</p>
      </mat-card-content>
    </mat-card>
    <!--<div>
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>-->
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Signup</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='/assets/images/screenCapture-signup-2020-12-01-13_37_27.png' alt="screenCapture-signup">
      <mat-card-content>
        <p>You have the possibility to choose the school and the courses in which you would like to attempt at the same time while registering.</p>
      </mat-card-content>
    </mat-card>
    <!--<div>
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>-->
  </div>

</div>
