<div class="fa-2x container jumbotron"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
>
  <h3>Study Management Application</h3>
</div>
<hr>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<div fxFlex>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/school-mangement-system-project.png" alt="school-management-pic">
    <mat-card-content>
      <p>The best way to manage your studies.</p>
    </mat-card-content>
  </mat-card>
  <!--<div>
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>-->
</div>

</div>
